@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-modak: "Modak", sans-serif;
  --font-Inter: "Inter", sans-serif;
}


p, li{
  font-family: "Inter", sans-serif;

}

html {
  background-color: #fafafa;
}


